<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyMultiFileUploader</servlet-name>
        <servlet-class>vod.MyMultiFileUploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryFileUpload</servlet-name>
        <servlet-class>vod.UpdateCategoryFileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveVideoServlet</servlet-name>
        <servlet-class>vod.SaveVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVideoOrTvShow</servlet-name>
        <servlet-class>vod.AddVideoOrTvShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>vodMobileAppServlets.CheckLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>vodMobileAppServlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesFregmentServlet</servlet-name>
        <servlet-class>vodMobileAppServlets.MoviesFregmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HorrorMoviesServlet</servlet-name>
        <servlet-class>vodMobileAppServlets.HorrorMoviesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesDetailServlet</servlet-name>
        <servlet-class>vodMobileAppServlets.MoviesDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownloader</servlet-name>
        <servlet-class>vodMobileAppServlets.FileDownloader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyMultiFileUploader</servlet-name>
        <url-pattern>/MyMultiFileUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryFileUpload</servlet-name>
        <url-pattern>/UpdateCategoryFileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveVideoServlet</servlet-name>
        <url-pattern>/SaveVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVideoOrTvShow</servlet-name>
        <url-pattern>/AddVideoOrTvShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/CheckLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesFregmentServlet</servlet-name>
        <url-pattern>/MoviesFregmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HorrorMoviesServlet</servlet-name>
        <url-pattern>/HorrorMoviesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesDetailServlet</servlet-name>
        <url-pattern>/MoviesDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownloader</servlet-name>
        <url-pattern>/FileDownloader</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
